body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(217, 220, 223);
}

 .homepage-container h1,
.recipie-container h1, h2, h3{
  background-color: rgb(27, 27, 27);
  text-align: center;
  color: rgb(193, 189, 197);
}

.homepage-container img, 
.recipie-container img {
   display: block;
  margin-left: auto;
  margin-right: auto;
}